In [290]:
import pandas as pd

In [291]:
hary = pd.read_csv('Harry_Potter_Scraped_Dataset.csv')

In [292]:
hary

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Publish Date,Publish Month,Publish Year,Pages,Words,Audiobook,Total Awards Won
0,Harry Potter and the Sorcerer’s Stone,4.2,120,26,June,1997,223,"76,944",9 hrs and 33 mins,8
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,"85,141",11 hrs and 5 mins,5
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,"107,253",13 hrs and 10 mins,3
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,"190,637",22 hrs and 17 mins,1
4,Harry Potter and the Order of the Phoenix,4.2,65,21,June,2003,766,"257,045",30 hrs and 18 mins,1
5,Harry Potter and the Half-blood Prince,4.1,65,16,July,2005,607,"168,923",21 hrs and 27 mins,1
6,Harry Potter and the Deathly Hallows,4.5,65,21,July,2007,607,"198,227",24 hrs,0

In [293]:
hary.head()

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Publish Date,Publish Month,Publish Year,Pages,Words,Audiobook,Total Awards Won
0,Harry Potter and the Sorcerer’s Stone,4.2,120,26,June,1997,223,"76,944",9 hrs and 33 mins,8
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,"85,141",11 hrs and 5 mins,5
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,"107,253",13 hrs and 10 mins,3
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,"190,637",22 hrs and 17 mins,1
4,Harry Potter and the Order of the Phoenix,4.2,65,21,June,2003,766,"257,045",30 hrs and 18 mins,1

In [294]:
hary

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Publish Date,Publish Month,Publish Year,Pages,Words,Audiobook,Total Awards Won
0,Harry Potter and the Sorcerer’s Stone,4.2,120,26,June,1997,223,"76,944",9 hrs and 33 mins,8
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,"85,141",11 hrs and 5 mins,5
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,"107,253",13 hrs and 10 mins,3
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,"190,637",22 hrs and 17 mins,1
4,Harry Potter and the Order of the Phoenix,4.2,65,21,June,2003,766,"257,045",30 hrs and 18 mins,1
5,Harry Potter and the Half-blood Prince,4.1,65,16,July,2005,607,"168,923",21 hrs and 27 mins,1
6,Harry Potter and the Deathly Hallows,4.5,65,21,July,2007,607,"198,227",24 hrs,0

In [295]:
hary.Words = hary.Words.str.replace(',','')

In [296]:
hary = hary.rename(columns={'Total Awards Won':'Awards'})

In [297]:
hary.Awards.unique()

array([8, 5, 3, 1, 0], dtype=int64)

In [298]:
hary.Awards.sum()

19

In [299]:
hary.Pages.unique()

array([223, 251, 317, 636, 766, 607], dtype=int64)

In [300]:
hary.drop(['Awards'],inplace=True,axis=1)

In [301]:
hary.columns

Index(['Book Name', 'Copies Sold in UK', 'Copies Sold WorldWide',
       'Publish Date', 'Publish Month', 'Publish Year', 'Pages', 'Words',
       'Audiobook'],
      dtype='object')

In [302]:
hary

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Publish Date,Publish Month,Publish Year,Pages,Words,Audiobook
0,Harry Potter and the Sorcerer’s Stone,4.2,120,26,June,1997,223,76944,9 hrs and 33 mins
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,85141,11 hrs and 5 mins
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,107253,13 hrs and 10 mins
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,190637,22 hrs and 17 mins
4,Harry Potter and the Order of the Phoenix,4.2,65,21,June,2003,766,257045,30 hrs and 18 mins
5,Harry Potter and the Half-blood Prince,4.1,65,16,July,2005,607,168923,21 hrs and 27 mins
6,Harry Potter and the Deathly Hallows,4.5,65,21,July,2007,607,198227,24 hrs

In [303]:
hary

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Publish Date,Publish Month,Publish Year,Pages,Words,Audiobook
0,Harry Potter and the Sorcerer’s Stone,4.2,120,26,June,1997,223,76944,9 hrs and 33 mins
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,85141,11 hrs and 5 mins
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,107253,13 hrs and 10 mins
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,190637,22 hrs and 17 mins
4,Harry Potter and the Order of the Phoenix,4.2,65,21,June,2003,766,257045,30 hrs and 18 mins
5,Harry Potter and the Half-blood Prince,4.1,65,16,July,2005,607,168923,21 hrs and 27 mins
6,Harry Potter and the Deathly Hallows,4.5,65,21,July,2007,607,198227,24 hrs

In [304]:
hary = hary.rename(columns={'Publish Date':'Date'})

In [305]:
hary

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Date,Publish Month,Publish Year,Pages,Words,Audiobook
0,Harry Potter and the Sorcerer’s Stone,4.2,120,26,June,1997,223,76944,9 hrs and 33 mins
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,85141,11 hrs and 5 mins
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,107253,13 hrs and 10 mins
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,190637,22 hrs and 17 mins
4,Harry Potter and the Order of the Phoenix,4.2,65,21,June,2003,766,257045,30 hrs and 18 mins
5,Harry Potter and the Half-blood Prince,4.1,65,16,July,2005,607,168923,21 hrs and 27 mins
6,Harry Potter and the Deathly Hallows,4.5,65,21,July,2007,607,198227,24 hrs

In [306]:
hary.Audiobook = hary.Audiobook.str.replace('and',':')

In [307]:
hary

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Date,Publish Month,Publish Year,Pages,Words,Audiobook
0,Harry Potter and the Sorcerer’s Stone,4.2,120,26,June,1997,223,76944,9 hrs : 33 mins
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,85141,11 hrs : 5 mins
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,107253,13 hrs : 10 mins
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,190637,22 hrs : 17 mins
4,Harry Potter and the Order of the Phoenix,4.2,65,21,June,2003,766,257045,30 hrs : 18 mins
5,Harry Potter and the Half-blood Prince,4.1,65,16,July,2005,607,168923,21 hrs : 27 mins
6,Harry Potter and the Deathly Hallows,4.5,65,21,July,2007,607,198227,24 hrs

In [308]:
hary

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Date,Publish Month,Publish Year,Pages,Words,Audiobook
0,Harry Potter and the Sorcerer’s Stone,4.2,120,26,June,1997,223,76944,9 hrs : 33 mins
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,85141,11 hrs : 5 mins
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,107253,13 hrs : 10 mins
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,190637,22 hrs : 17 mins
4,Harry Potter and the Order of the Phoenix,4.2,65,21,June,2003,766,257045,30 hrs : 18 mins
5,Harry Potter and the Half-blood Prince,4.1,65,16,July,2005,607,168923,21 hrs : 27 mins
6,Harry Potter and the Deathly Hallows,4.5,65,21,July,2007,607,198227,24 hrs

In [309]:
hary = hary.rename(columns={'Publish Month':'Month'})

In [310]:
hary

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Date,Month,Publish Year,Pages,Words,Audiobook
0,Harry Potter and the Sorcerer’s Stone,4.2,120,26,June,1997,223,76944,9 hrs : 33 mins
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,85141,11 hrs : 5 mins
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,107253,13 hrs : 10 mins
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,190637,22 hrs : 17 mins
4,Harry Potter and the Order of the Phoenix,4.2,65,21,June,2003,766,257045,30 hrs : 18 mins
5,Harry Potter and the Half-blood Prince,4.1,65,16,July,2005,607,168923,21 hrs : 27 mins
6,Harry Potter and the Deathly Hallows,4.5,65,21,July,2007,607,198227,24 hrs

In [311]:
hary.Month.unique()

array(['June', 'July'], dtype=object)

In [312]:
hary.Month.count()

7

In [313]:
hary.Month = hary.Month.replace('June','Feb')

In [315]:
hary = hary.rename(columns={'Publish Year':'Year'})

In [316]:
hary

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Date,Month,Year,Pages,Words,Audiobook
0,Harry Potter and the Sorcerer’s Stone,4.2,120,26,Feb,1997,223,76944,9 hrs : 33 mins
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,85141,11 hrs : 5 mins
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,107253,13 hrs : 10 mins
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,190637,22 hrs : 17 mins
4,Harry Potter and the Order of the Phoenix,4.2,65,21,Feb,2003,766,257045,30 hrs : 18 mins
5,Harry Potter and the Half-blood Prince,4.1,65,16,July,2005,607,168923,21 hrs : 27 mins
6,Harry Potter and the Deathly Hallows,4.5,65,21,July,2007,607,198227,24 hrs

In [319]:
hary

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Date,Month,Year,Pages,Words,Audiobook
0,Harry Potter and the Sorcerer’s Stone,4.2,120,26,Feb,1997,223,76944,9 hrs : 33 mins
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,85141,11 hrs : 5 mins
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,107253,13 hrs : 10 mins
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,190637,22 hrs : 17 mins
4,Harry Potter and the Order of the Phoenix,4.2,65,21,Feb,2003,766,257045,30 hrs : 18 mins
5,Harry Potter and the Half-blood Prince,4.1,65,16,July,2005,607,168923,21 hrs : 27 mins
6,Harry Potter and the Deathly Hallows,4.5,65,21,July,2007,607,198227,24 hrs

In [321]:
hary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Book Name              7 non-null      object
 1   Copies Sold in UK      7 non-null      float64
 2   Copies Sold WorldWide  7 non-null      int64
 3   Date                   7 non-null      int64
 4   Month                  7 non-null      object
 5   Year                   7 non-null      int64
 6   Pages                  7 non-null      int64
 7   Words                  7 non-null      object
 8   Audiobook              7 non-null      object
dtypes: float64(1), int64(4), object(4)
memory usage: 632.0+ bytes

In [323]:
hary.Date.iloc[0] = 2022

C:\Users\iam18\AppData\Local\Temp\ipykernel_2412\2283970492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hary.Date.iloc[0] = 2022

In [324]:
hary

,Book Name,Copies Sold in UK,Copies Sold WorldWide,Date,Month,Year,Pages,Words,Audiobook
0,Harry Potter and the Sorcerer’s Stone,4.2,120,2022,Feb,1997,223,76944,9 hrs : 33 mins
1,Harry Potter and the Chamber of Secrets,3.5,77,2,July,1998,251,85141,11 hrs : 5 mins
2,Harry Potter and the Prisoner of Azkaban,3.4,65,8,July,1999,317,107253,13 hrs : 10 mins
3,Harry Potter and the Goblet of Fire,3.6,65,8,July,2000,636,190637,22 hrs : 17 mins
4,Harry Potter and the Order of the Phoenix,4.2,65,21,Feb,2003,766,257045,30 hrs : 18 mins
5,Harry Potter and the Half-blood Prince,4.1,65,16,July,2005,607,168923,21 hrs : 27 mins
6,Harry Potter and the Deathly Hallows,4.5,65,21,July,2007,607,198227,24 hrs